.inputWrap {
  text-align: left;
  margin-bottom: 20px;
  p{
    margin-bottom: 10px;
  }
}
.titleWrap {
  font-size: $font-medium;
  margin-bottom: 20px;
}
.parWrap {
  margin: 20px 0;
}
.btnWrap {
  padding: 10px 0;
}
.line {
  border-top: 1px solid #eee;
  padding: 10px;
}
.imgWrap {
  width:40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  img{
    width: 100%;
  }
}
