.inputWrap {
  text-align: left;
  margin-bottom: 20px;
  p{
    margin-bottom: 10px;
  }
}
.titleWrap {
  font-size: $font-medium;
  margin-bottom: 20px;
}
.parWrap {
  margin: 20px 0;
}
.btnWrap {
  padding: 10px 0;
}
