a{
  text-decoration: none;
}
.cardTitle {
  margin-bottom: 15px;
}
.inputWrap {
  text-align: left;
  margin-bottom: 20px;
  p{
    margin-bottom: 10px;
  }
}
.titleWrap {
  font-size: $font-medium;
  margin-bottom: 20px;
}
.contentWrap {
  margin-bottom: 20px;
}
.parWrap {
  margin: 20px 0;
}
.btnWrap {
  padding: 10px 0;
}
.line {
  border-top: 1px solid #eee;
  padding: 10px;
}
.imgWrap {
  display: flex;
  width:40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  font-size: 40px;
  img{
    width: 100%;
    transform: scale(1.5);
  }
}
// input file display: none;
#userImage {
  display: none;
}

.fileListWrap {
  margin-top: 10px;
  .fileList {
    i {
      margin-right: 5px;
      cursor: pointer;
    }
    padding: 5px;
  }
}
// board list
.listheader,
.listContent {
  display: flex;
  border-bottom: 1px solid #eee;
  cursor: pointer;

  > span {
    flex:1;
    padding: 10px 0;
  }
  .author {
    min-width: 90px;
  }
  .title {
    min-width: 220px;
  }
  .attachment {
    min-width: 40px;
  }
  .date {
    min-width: 100px;
  }
  .view {
    min-width: 40px;
  }
}
.listBodyEmpty {
  padding: 40px 0;
}
.searchWrap {
  margin: 15px 0px;
  .searchInput {
    width: 400px;
  }
  .el-select .el-input {
    width: 100px;
  }
}


// vue fade slide
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}
