.el-header, .el-footer {
  background-color: #505d6e;
  color: #f8f8f8;
  text-align: center;
  line-height: 60px;
  a {
    color: #f8f8f8;
  }
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
}
.el-card{
  // min-width: 850px;
  transition: all ease 2s 0s;
}
.el-popover {
  min-width: initial;
}

.el-card__header {
  padding: 10px;
}
.el-card__body {
  padding: 10px;
}
@include mobile {
}
@include tablet {
}
